<!DOCTYPE html>
<html>
  <head>
    <title>AskKrishna</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'ask-book' %>
    <%= stylesheet_pack_tag 'ask-book' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&family=Inter&family=Ysabeau:wght@400;600&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
    
    <footer className="footer">
      <h2 className="text-md">
        Made with ☕ by 
        <a href="https://twitter.com/AllDevThings">
          Shimanta
        </a>
      </h2>
    </footer>
  </body>
</html>
